<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1073480996376-l8fsm0ftgjq2ooc8kk16n4hll5m9rah9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1073480996376-l8fsm0ftgjq2ooc8kk16n4hll5m9rah9</string>
	<key>API_KEY</key>
	<string>AIzaSyA4jeW1NUhZb2Q7ntdG4o52gdAKLRSZ2QM</string>
	<key>GCM_SENDER_ID</key>
	<string>1073480996376</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kajornsak.dronehackathon</string>
	<key>PROJECT_ID</key>
	<string>dronehackathon</string>
	<key>STORAGE_BUCKET</key>
	<string>dronehackathon.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1073480996376:ios:1d0b45a51d05aebb</string>
	<key>DATABASE_URL</key>
	<string>https://dronehackathon.firebaseio.com</string>
</dict>
</plist>